.copyrights {
  padding: 14px 0;
  border-top: 1px solid $footer-border;

  @media (max-width: $tablet-max-width) {
    padding: 21px 0 3px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 28px 0 3px;
  }
}

.copyrights__content {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: auto;

  @media (max-width: $tablet-max-width) {
    display: flex;
  }
}

.copyrights__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 auto;

  @media (max-width: $mobile-max-width) {
    justify-content: center;
  }
}

.copyrights__1-column {
  padding: 0 44px 0 0;
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.copyrights__2-column {
  padding: 0 3px 0 99px;
  grid-column: 2 / -1;
  grid-row: 1 / -1;

  @media (max-width: $tablet-max-width) {
    padding: 0 26px;
  }
}

.copyrights p {
  @include off-margin;
  @include another-title-or-text(13px, 24px, $footer-text);
  opacity: 0.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 21px;
  }
}
