.header {
  padding-top: 31px;
  min-height: 878px;
  color: $white;
  background-color: $background-header;
  background-image: url("../img/background-header.png");
  background-repeat: no-repeat;
  background-position: -6px 1px;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/background-header@2x.png");
  }

  @media (max-width: $tablet-max-width) {
    padding-top: 20px;
    min-height: 686px;
    background-image: url("../img/background-header-tablet.png");
    background-position: 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/background-header-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 16px;
    min-height: 647px;
    background-image: url("../img/background-header-mobile.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/background-header-mobile@2x.png");
    }
  }
}

.header__wrap-row {
  display: flex;
  justify-content: space-between;
}

.header__logo-link {
  margin-left: 85px;
  flex: 0 0 202px;

  @media (max-width: $tablet-max-width) {
    margin-left: 25px;
  }

  @media (max-width: $mobile-max-width) {
    flex-basis: 38px;
    margin-left: 17px;
  }
}

.header__contacts {
  flex: 1 1 auto;
  align-self: center;
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__contacts-wrap {
  margin-right: 28px;
  flex: 0 1 452px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $tablet-max-width) {
    flex-basis: auto;
    margin-right: 25px;
  }

  @media (max-width: $mobile-max-width) {
    margin: 0;
  }
}

.header__contacts-mail {
  margin-top: 2px;
  margin-right: 20px;

  @media (max-width: $tablet-max-width) {
    margin-top: 0;
    margin-right: 34px;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 24px;
  }
}

.header__contacts-mail svg {
  @media (max-width: $tablet-max-width) {
    width: 25px;
    height: 19px;
  }
}

.header__contacts-phone {
  margin-right: 20px;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 15px;
  }
}

.header__contacts-phone svg {
  @media (max-width: $tablet-max-width) {
    width: 24px;
    height: 24px;
  }
}

.header__contacts-mail-link,
.header__contacts-phone-link {
  color: $white;
  font-size: 16px;
  line-height: 18px;
}

.header__contacts-mail-link {
  margin-left: 10px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.header__contacts-phone-link {
  margin-left: 8px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.header__contacts-call-link {
  margin-right: 73px;
  padding: 14px 26px 13px 26px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
