.main {
  @include another-title-or-text(16px, 22px, $main-text);
  flex: 1 1 auto;
  background-image: url("../img/background-main.svg");
  background-repeat: no-repeat;
  background-position: 50% -29px;

  @media (max-width: $tablet-max-width) {
    background-image: url("../img/background-main-tablet.svg");
    background-position: 211px 90px;
  }

  @media (max-width: $mobile-max-width) {
    background-image: url("../img/background-main-tablet.svg");
    background-position: -120px 652px;
  }
}
