.our-office {
  padding: 0 0 0 18px;

  @media (max-width: $tablet-max-width) {
    padding: 0 25px 0 15px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 15px;
  }
}

.our-office h2 {
  @include fonts-title;
  @include another-title-or-text(15px, 16px, $footer-text);
  @include off-margin;
  margin-bottom: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 32px;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 1px;
      background-color: $footer-cross;
      top: 8px;
      right: 2px;
    }

    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
      background-color: $black;
    }

    &:active::before,
    &:active::after {
      background-color: $white;
    }
  }
}

.our-office__list {
  @include off-list;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-max-width) {
    padding-right: 10px;
  }
}

.our-office__link,
.our-office p {
  @include another-title-or-text(15px, 25px, $footer-text);
  @include off-margin;
  opacity: 0.5;
  display: inline-block;
  vertical-align: top;
}

.our-office__link {
  &:hover,
  &:focus {
    color: $black;
    opacity: 1;
  }

  &:active {
    color: $white;
  }
}
