.our-office {
  padding: 0 0 0 18px;

  @media (max-width: $tablet-max-width) {
    padding: 0 25px 0 15px;
  }
}

.our-office h2 {
  @include fonts-title;
  @include another-title-or-text(15px, 16px, $footer-text);
  @include off-margin;
  margin-bottom: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 7px;
  }
}

.our-office__list {
  @include off-list;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-max-width) {
    padding-right: 10px;
    transition: 0.5s ease-in-out;
  }
}

.our-office__link,
.our-office p {
  @include another-title-or-text(15px, 25px, $footer-text);
  @include off-margin;
  opacity: 0.5;
  display: inline-block;
  vertical-align: top;
}

.our-office__link {
  &:hover,
  &:focus {
    color: $black;
    opacity: 1;
  }

  &:active {
    color: $white;
  }
}
