.sections-site {
  padding: 0 26px 0 68px;

  @media (max-width: $tablet-max-width) {
    padding: 0 25px;
  }
}

.sections-site h2 {
  @include fonts-title;
  @include another-title-or-text(15px, 16px, $footer-text);
  @include off-margin;
  margin-bottom: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 2px;
  }
}

.sections-site__list {
  @include off-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
  }
}

.sections-site__item {
  flex-shrink: 1;
  width: 243px;
  margin-right: 62px;

  &:nth-child(2n) {
    margin-right: 0;

    @media (max-width: $mobile-max-width) {
      margin-right: 5px;
    }
  }

  @media (max-width: $tablet-max-width) {
    &--1 {
      order: 1;
    }

    &--2 {
      order: 2;
    }

    &--3 {
      order: 3;
    }

    &--4 {
      order: 4;
    }

    &--5 {
      order: 5;
    }

    &--6 {
      order: 6;
    }

    &--7 {
      order: 7;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin-right: 5px;
  }
}

.sections-site__link {
  @include off-margin;
  @include another-title-or-text(15px, 25px, $footer-text);
  opacity: 0.5;
  display: inline-block;
  vertical-align: top;

  &--letter-spacing {
    letter-spacing: 0.03em;

    @media (max-width: $tablet-max-width) {
      letter-spacing: normal;
    }
  }

  &:hover,
  &:focus {
    color: $black;
    opacity: 1;
  }

  &:active {
    color: $white;
  }
}
